<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudDA.Properties.Settings.CrudDBConnectionString"
            connectionString="Data Source=TIELT120;Initial Catalog=CrudDB;User ID=sa;Password=xxxxxx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>