<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="CrudDBConnectionString" connectionString="Data Source=TIELT120;Initial Catalog=CrudDB;User ID=sa;Password=XXXXXX"
      providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="dataSource" value="1" /> <!-- 1.LinqToSQL -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <services>
      <service name="CrudWCF.Service1" behaviorConfiguration="ServiceBehaviour"  >
        <endpoint address="" binding="webHttpBinding"
                  contract="CrudWCF.IService1"
                  behaviorConfiguration="WebBehaviour"
                  />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>

      <endpointBehaviors>
        <behavior name="WebBehaviour">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    
  </system.webServer>

</configuration>
